Kostur/Kostur/x64/Debug/Kostur.tlog/link.write.1.tlog
Kostur/Kostur/x64/Debug/Kostur.tlog/link.write.1.tlog
Kostur/Kostur/x64/Debug/Kostur.tlog/link.write.1.tlog
Kostur/Kostur/x64/Debug/Kostur.vcxproj.FileListAbsolute.txt
Kostur/Kostur/x64/Debug/Main.obj
Kostur/Kostur/x64/Debug/Kostur.tlog/link.secondary.1.tlog
Kostur/Kostur/x64/Debug/Kostur.tlog/link.write.1.tlog
Kostur/Kostur/x64/Debug/Kostur.vcxproj.FileListAbsolute.txt
Kostur/Kostur/x64/Debug/Main.obj
Kostur/Kostur/x64/Debug/Util.obj
Kostur/Kostur/x64/Debug/vc143.idb
Kostur/Kostur/x64/Debug/vc143.pdb
Kostur/x64/Debug/Kostur.exe
Kostur/x64/Debug/Kostur.pdb
Kostur/.vs/Kostur/CopilotIndices/18.0.955.22606/CodeChunks.db
/Kostur/.vs/Kostur/CopilotIndices/18.0.955.22606
/Kostur/.vs/Kostur
*.vsidx
/Kostur/.vs
/Kostur
Kostur/Kostur/x64/Debug/Kostur.tlog/CL.write.1.tlog
Kostur/Kostur/x64/Debug/Kostur.tlog/Kostur.lastbuildstate
Kostur/.vs/Kostur/FileContentIndex/c04ad08a-7dac-4045-bd16-8b82a02c33ed.vsidx
Kostur/.vs/Kostur/v18/Browse.VC.db
